# API Configuration
NEXT_PUBLIC_API_URL=https://movie-api.moviematch.space
# Application URLs (optional, will be auto-detected if not set)
NEXT_PUBLIC_LANDING_URL=http://landing.local
NEXT_PUBLIC_USER_CREATION_URL=http://user-creation.local
NEXT_PUBLIC_DASHBOARD_URL=http://dashboard.local
NEXT_PUBLIC_GOOGLE_CLIENT_ID=277043180680-h1due06rsb1d1q3ke0ivme7sao6pe6ji.apps.googleusercontent.com